@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* font-family: "Rubik", sans-serif;
font-family: "Itim", serif; */
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1c1c1c;
    color: whitesmoke;
    font-family: "Itim", serif;
}
/*!Scrollbar özelleştirme */
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background:url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHBoMGFsZTcxNHVnc3VucmpmZTN6OWlnaHV5eDJsajI0NXVsZ29uYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hPlsN9Z6JNF4s/giphy.webp);
    background-size: 200px;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 20px greenyellow;
    
    
}
::-webkit-scrollbar-track{
    background-color: #1c1c1c;
}
